<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BookSpace</title>
  <link rel="icon" href="/img/icon2.png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div style="display: flex; width: 1510px;" class="main-div">
  <div class="left-fixed-div" style="background-color: #D4DCF8; width: 300px; height: 706px; position: fixed;">
    <div style="display: flex;">
      <img class="icon1" src="/img/icon2.png">
      <p class="title1">BookSpace</p>
    </div>
    <img th:src="${img}" class="profpic">
    <h2 style="text-align: center; margin-bottom: 50px;"  th:text="${user.nickname}"></h2>
    <a href="/homePage" style="text-decoration: none; color: #000000"><h2 class="section">Home page</h2></a>
    <a href="/myLib" style="text-decoration: none; color: #000000"><h2 class="section">My library</h2></a>
    <a href="/explore" style="text-decoration: none; color: #000000"><h2 class="section">New books</h2></a>
    <div class="dropdown1">
      <button class="dropbtn1"><h2 class="section" style="margin-top: 0px; margin-bottom: 0px;">Contact Us</h2></button>
      <div class="dropdown-content1">
        <a href="https://www.linkedin.com/in/hripsime-grigoryan-439164238/">LinkedIn</a>
        <a href="https://www.instagram.com/g.hripsime_/">Instagram</a>
        <a href="https://www.facebook.com/">Facebook</a>
      </div>
    </div>
    <a href="/logout" style="text-decoration: none; color: #000000"><h2 class="section" style="margin-top: 200px;">Log Out</h2></a>
  </div>
  <div class="center-div" style="margin-left: 300px;">
    <div class="search-div" style="margin-left: 50px; margin-top: 10px;">
      <form class="searchform" method="post" action="\generalSearch">
        <input type="text" name="search" class="search" placeholder="Search">
        <input type="submit" class="searchButton" value="Search">
      </form>
    </div>
    <h1 style="margin-left: 100px;">Book overview</h1>
    <div class="book-overview">
      <div>
        <img style="width: 333px; height: 463px;" th:src="${book.img}">
        <button th:if="${saved}" class="saveButton" style="background-color: #C9C9C9;" disabled>Saved</button>
        <form th:unless="${saved}" method="post" action="/save">
          <input type="hidden" name="openLibId" value="${book.openLibId}">
          <input type="submit" value="Save" class="saveButton">
        </form>
      </div>
      <div style="margin-left: 50px;">
        <h2 th:text="${book.title}"></h2>
        <h2>Authors:
          <span th:each="string, iterStat : ${book.authors}">
            <span style="font-size: 18px;" th:text="${string}"></span>
            <span th:unless="${iterStat.last}">,</span>
          </span>
        </h2>
        <h2>Publishment date: <p style="margin-top: 5px; font-size: 18px;" th:text="${book.pub_date}"></p></h2>
        <h2>Publisher: <p style="margin-top: 5px; font-size: 18px;" th:text="${book.publisher}"></p></h2>
        <h2>Language: <p style="margin-top: 5px; font-size: 18px;" th:text="${book.language}"></p></h2>
        <h2>Subjects:
          <span th:each="string, iterStat : ${book.subject}">
            <span style="font-size: 18px;" th:text="${string}"></span>
            <span th:unless="${iterStat.last}">,</span>
          </span>
        </h2>
        <div class="rating">
          <th:block th:if="${book.rating > 0}" th:each="starIndex : ${#numbers.sequence(1, book.rating)}">
            <img class="star" src="/img/yellow-star.png">
          </th:block>
          <th:block th:if="${book.rating < 5}" th:each="starIndex : ${#numbers.sequence(book.rating + 1, 5)}">
            <img class="star" src="/img/gray-star.png">
          </th:block>
        </div>
      </div>
    </div>
    <div class="get" style="display: flex;">
      <div>
        <h2>Description: <p style="font-size: 18px;" th:text="${book.description}"></p></h2>
        <h1>How to get the book</h1>
        <div style="display: flex;">
          <div style="margin-right: 50px;" th:if="${amazon != null}">
            <h3 style="margin-top: 0px;">Available in Amazon</h3>
            <a  th:href="${amazon}"><button type="button" class="getButton">More</button></a>
          </div>
          <div style="margin-right: 50px;" th:if="${amazon == null}">
            <h3 style="margin-top: 0px;">Unavailable in Amazon</h3>
            <button type="button" class="getButton" disabled>More</button>
          </div>
          <div style="margin-right: 50px;" th:if="${goodreads != null}">
            <h3 style="margin-top: 0px;">Available in GoodReads</h3>
            <a  th:href="${goodreads}"><button type="button" class="getButton">More</button></a>
          </div>
          <div style="margin-right: 50px;" th:if="${goodreads == null}">
            <h3 style="margin-top: 0px;">Unavailable in GoodReads</h3>
            <button type="button" class="getButton" disabled>More</button>
          </div>
          <div style="margin-right: 50px;" th:if="${libthing != null}">
            <h3 style="margin-top: 0px;">Available in LibraryThing</h3>
            <a  th:href="${libthing}"><button type="button" class="getButton">More</button></a>
          </div>
          <div style="margin-right: 50px;" th:if="${libthing == null}">
            <h3 style="margin-top: 0px;">Unavailable in LibraryThing</h3>
            <button type="button" class="getButton" disabled>More</button>
          </div>
        </div>
      </div>
      <img src="/img/reading.png" style="width: 250px; height: 300px; margin-left: 170px; margin-top: 20px;">
    </div>
      <div class="reviews" style="margin-bottom: 30px;">
        <h1>Reviews</h1>
        <div th:each="comment : ${comments}" style="display: flex; margin-bottom: 30px;">
          <img th:src="${comment.userImg}" style="width: 40px; height: 40px;">
          <div style="width: 1000px; margin-left: 20px;">
            <h3 style="margin-top: 5px;" th:text="${comment.userNickname}"></h3>
            <p th:text="${comment.comment}"></p>
          </div>
        </div>
        <div style="display: flex;">
          <img th:src="${img}" style="width: 40px; height: 40px;">
          <h3 style="margin-top: 5px; margin-left: 20px;" th:text="${user.nickname}"></h3>
        </div>
        <form style="margin-top: 5px;" method="post" action="\addComment">
          <div style="position:relative;">
            <textarea name="comment" id="commentInput" style="width: 940px; height: 100px; margin-left: 50px; color: #000; font-size: 16px;"></textarea>
          </div>
          <input type="submit" class="saveButton" style="margin-left: 50px; margin-top: 10px;">
        </form>
      </div>
    </div>
  <div class="dropdown">
    <button class="dropbtn"><img th:src="${img}" style="width: 50px; height: 50px;"></button>
    <div class="dropdown-content">
      <a href="/myLib">Library</a>
      <a href="/logout">Log out</a>
    </div>
  </div>
  <img src="/img/spacecraft2.png" style="width: 260px; height: 200px; position: absoute; margin-left: -200px; margin-top: 100px;">
</div>
</body>
</html>