<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BookSpace</title>
  <link rel="icon" href="../img/icon2.png">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="whiteOne">
  <div style="display: flex">
    <img class="astronaut_balloons" src="../img/balloons.png"/>
  </div>
</div>
<div class="purpleOne">
  <form class="logIn">
    <p class="welcomesignIn">Welcome, lets create your spacecraft</p>
    <p class="email">Email address</p>
    <input type="text" name="emailAddress" class="emailInput">
    <p class="nick">Nickname</p>
    <input type="text" name="nickname" class="nickInput">
    <p class="password">Password</p>
    <input type="password" name="password" class="passwordInput">
    <p class="confpassword">Confirm your password</p>
    <input type="password" name="confpassword" class="confpasswordInput">
    <input type="checkbox" id="customCheckbox" class="custom-checkbox">
    <label for="customCheckbox" id="label">Agree with <a href="#">policy terms</a></label>
    <a href="homePage.html"><button type="button" class="logInButton">Sign In</button></a>
    <p>If you already have account, then <a href="logIn.html">Log In</a></p>
  </form>
</div>
</body>
</html>