<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>BookSpace</title>
    <link rel="icon" href="/img/icon2.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="whiteOne" style="height: 695px">
      <div style="display: flex">
        <img class="astronaut_balloons" src="/img/balloons.png"/>
      </div>
    </div>
    <div class="purpleOne">
      <form class="logIn" action="/register" method="post">
        <p class="welcomesignIn">Welcome, lets create your spacecraft</p>
        <p class="email">Email address</p>
        <input type="text" name="email" class="emailInput">
        <p class="nick">Nickname</p>
        <input type="text" name="nickname" class="nickInput">
        <p class="password">Password</p>
        <input type="password" name="password" class="passwordInput">
        <p class="confpassword">Confirm your password</p>
        <input type="password" name="confpassword" class="confpasswordInput">
        <a href="homePage.html"><button type="submit" class="logInButton">Sign In</button></a>
        <p>If you already have account, then <a href="/login">Log In</a></p>
      </form>
    </div>
  </body>
</html>