<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BookSpace</title>
  <link rel="icon" href="../img/icon2.png">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div style="display: flex; width: 1510px;" class="main-div">
  <div class="left-fixed-div" style="background-color: #D4DCF8; width: 300px; height: 706px; position: fixed;">
    <div style="display: flex;">
      <img class="icon1" src="../img/icon2.png">
      <p class="title1">BookSpace</p>
    </div>
    <img src="../img/profpic.png" class="profpic">
    <h2 style="text-align: center; margin-bottom: 50px;">monster123</h2>
    <a href="homePage.html" style="text-decoration: none; color: #000000"><h2 class="section">Home page</h2></a>
    <a href="myLib.html" style="text-decoration: none; color: #000000"><h2 class="section">My library</h2></a>
    <a href="explore.html" style="text-decoration: none; color: #000000"><h2 class="section">New books</h2></a>
    <div class="dropdown1">
      <button class="dropbtn1"><h2 class="section" style="margin-top: 0px; margin-bottom: 0px;">Contact Us</h2></button>
      <div class="dropdown-content1">
        <a href="https://www.linkedin.com/in/hripsime-grigoryan-439164238/">LinkedIn</a>
        <a href="https://www.instagram.com/g.hripsime_/">Instagram</a>
        <a href="https://www.facebook.com/">Facebook</a>
      </div>
    </div>
    <a href="logIn.html" style="text-decoration: none; color: #000000"><h2 class="section" style="margin-top: 200px;">Log Out</h2></a>
  </div>
  <div class="center-div" style="margin-left: 300px;">
    <div class="search-div" style="margin-left: 50px; margin-top: 10px; width: 900px;">
      <form class="searchform">
        <div>
          <select name="selection" id="selection">
            <option value="default" selected>Genre</option>
            <option value="Author">Author</option>
            <option value="Title">Title</option>
          </select>
        </div>
        <input type="text" name="search" class="search" placeholder="Search">
        <button type="button" class="searchButton">Let's go</button>
      </form>
    </div>
    <div class="explore">
      <h1 style="width: 700px;">Explore new books</h1>
      <div class="books-to-explore" style="width: 1070px; overflow-wrap: break-word;">
        <div class="book" style="margin-right: 50px;">
          <img src="../img/The_Fault_in_Our_Stars.jpg" style="width: 160px; height: 220px;">
          <h3 style="margin-top: 0px; margin-bottom: 0px; height: 50px; word-wrap: break-word;">The fault in our stars</h3>
          <h4 style="margin-top: 0px; margin-bottom: 3px;">John Green</h4>
          <div class="rating">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/gray-star.png">
          </div>
          <a href="book.html"><button type="button" class="moreButton">More</button></a>
        </div>
        <div class="book" style="margin-right: 50px;">
          <img src="../img/Little-women.jpg" style="width: 160px; height: 220px;">
          <h3 style="margin-top: 0px; margin-bottom: 0px; height: 50px; word-wrap: break-word;">Little women</h3>
          <h4 style="margin-top: 0px; margin-bottom: 3px;">Louisa May Alcott</h4>
          <div class="rating">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
          </div>
          <a href="book.html"><button type="button" class="moreButton">More</button></a>
        </div>
        <div class="book" style="margin-right: 50px;">
          <img src="../img/the-perks-of-being-a-wallflowe.jpg" style="width: 160px; height: 220px;">
          <h3 style="margin-top: 0px; margin-bottom: 0px; height: 50px; word-wrap: break-word;">The perks of being wallflower</h3>
          <h4 style="margin-top: 0px; margin-bottom: 3px;">Stephen Chbosky</h4>
          <div class="rating">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/gray-star.png">
          </div>
          <a href="book.html"><button type="button" class="moreButton">More</button></a>
        </div>
        <div class="book" style="margin-right: 50px;">
          <img src="../img/pride_and_prejudice.jpg" style="width: 160px; height: 220px;">
          <h3 style="margin-top: 0px; margin-bottom: 0px; height: 50px; word-wrap: break-word;">Pride and Prejudice</h3>
          <h4 style="margin-top: 0px; margin-bottom: 3px;">Jane Austen</h4>
          <div class="rating">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/gray-star.png">
          </div>
          <a href="book.html"><button type="button" class="moreButton">More</button></a>
        </div>
        <div class="book" style="margin-right: 50px;">
          <img src="../img/abc_murders.jpg" style="width: 160px; height: 220px;">
          <h3 style="margin-top: 0px; margin-bottom: 0px; height: 50px; word-wrap: break-word;">The A.B.C. Murders</h3>
          <h4 style="margin-top: 0px; margin-bottom: 3px;">Agatha Christie</h4>
          <div class="rating">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/gray-star.png">
            <img class="star" src="../img/gray-star.png">
          </div>
          <a href="book.html"><button type="button" class="moreButton">More</button></a>
        </div>
        <div class="book" style="margin-right: 50px;">
          <img src="../img/Inferno.jpg" style="width: 160px; height: 220px;">
          <h3 style="margin-top: 0px; margin-bottom: 0px; height: 50px;">Inferno</h3>
          <h4 style="margin-top: 0px; margin-bottom: 3px;">Dan Brown</h4>
          <div class="rating">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
          </div>
          <a href="book.html"><button type="button" class="moreButton">More</button></a>
        </div>
        <div class="book" style="margin-right: 50px;">
          <img src="../img/A_Good_Girl's_Guide_to_Murder.jpg" style="width: 160px; height: 220px;">
          <h3 style="margin-top: 0px; margin-bottom: 0px; height: 50px; word-wrap: break-word;">A Good Girl's Guide to Murder</h3>
          <h4 style="margin-top: 0px; margin-bottom: 3px;">Holly Jackson</h4>
          <div class="rating">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/gray-star.png">
            <img class="star" src="../img/gray-star.png">
            <img class="star" src="../img/gray-star.png">
          </div>
          <a href="book.html"><button type="button" class="moreButton">More</button></a>
        </div>
        <div class="book" style="margin-right: 50px;">
          <img src="../img/The_Inheritance_Games.jpg" style="width: 160px; height: 220px;">
          <h3 style="margin-top: 0px; margin-bottom: 0px; height: 50px; word-wrap: break-word;">The Inheritance Games</h3>
          <h4 style="margin-top: 0px; margin-bottom: 3px;">Jennifer Lynn Barnes</h4>
          <div class="rating">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/gray-star.png">
            <img class="star" src="../img/gray-star.png">
            <img class="star" src="../img/gray-star.png">
            <img class="star" src="../img/gray-star.png">
          </div>
          <a href="book.html"><button type="button" class="moreButton">More</button></a>
        </div>
        <div class="book" style="margin-right: 50px;">
          <img src="../img/One_of_us_is_lyong.jfif" style="width: 160px; height: 220px;">
          <h3 style="margin-top: 0px; margin-bottom: 0px; height: 50px; word-wrap: break-word;">One of Us Is Lying</h3>
          <h4 style="margin-top: 0px; margin-bottom: 3px;">Karen M. McManus</h4>
          <div class="rating">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
          </div>
          <a href="book.html"><button type="button" class="moreButton">More</button></a>
        </div>
        <div class="book" style="margin-right: 50px;">
          <img src="../img/Paper_towns.jpg" style="width: 160px; height: 220px;">
          <h3 style="margin-top: 0px; margin-bottom: 0px; height: 50px; word-wrap: break-word;">Paper towns</h3>
          <h4 style="margin-top: 0px; margin-bottom: 3px;">John Green</h4>
          <div class="rating">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
            <img class="star" src="../img/yellow-star.png">
          </div>
          <a href="book.html"><button type="button" class="moreButton">More</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn"><img src="../img/profpic.png" style="width: 50px; height: 50px;"></button>
    <div class="dropdown-content">
      <a href="#">Dark mode</a>
      <a href="myLib.html">Library</a>
      <a href="logIn.html">Log out</a>
    </div>
  </div>
</div>
</body>
</html>