<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookSpace</title>
    <link rel="icon" href="../img/icon2.png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="purpleOne">
    <form class="logIn">
        <p class="welcome">Welcome back!</p>
        <p class="email">Email address</p>
        <input type="text" name="emailAddress" class="emailInput">
        <p class="password">Password</p>
        <input type="password" name="password" class="passwordInput">
        <input type="checkbox" id="customCheckbox" class="custom-checkbox">
        <label for="customCheckbox" id="label">Agree with <a href="#">policy terms</a></label>
        <a href="homePage.html"><button type="button" class="logInButton">Log In</button></a>
        <p>If you don't have an account, then <a href="createAcc.html">Sign In</a></p>
    </form>
</div>
<div class="whiteOne">
    <div style="display: flex;">
        <img class="icon" src="../img/icon2.png">
        <p class="title">BookSpace</p>
    </div>
    <div style="display: flex">
        <img class="astronaut" src="../img/astro1.png"/>
    </div>
</div>
</body>
</html>